@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap";
body{
  padding-top: 20px;
  padding-bottom: 20px;
}
a{
  cursor:pointer;
  &:hover{
    text-decoration:none;
  }
}
input{
  &:focus{
    outline:none!important;
    border-color:white!important;
    box-shadow:none!important;
  }
}
h2{
  margin-top:0;
}
.intro{
  display:block;
  width:300px;
  margin:0 auto;
}
.reg{
  display:block;
  width:300px;
  margin:0 auto;
}
h3{
  text-align:center;
  margin-bottom:50px;
}
.regForm{
  width:350px;
  margin:0 auto;
  input{
    border: 2px solid white;
    box-shadow:none;
  }
  input.ng-invalid.ng-touched {
    border-color: #FA787E;
  }

  input.ng-valid.ng-touched {
    border-color: green;
  }
}
.logForm{
  width:350px;
  margin:0 auto;
  input{
    border: 2px solid white;
    box-shadow:none;
  }
  input.ng-invalid.ng-touched {
    border-color: #FA787E;
  }

  input.ng-valid.ng-touched {
    border-color: green;
  }
  .errMsg{
    font-size:14px;
  }
}
.list-group{
  width:100%;
  margin-top:20px;
}
.popup{
  position:fixed;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  .bck{
    position:absolute;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, .7);
  }
  .wind{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    width: 500px;
    height: 370px;
    background:white;
    padding:30px;
    .form-group{
      float:left;
      width: 100%;
    }
    input{
      &:focus{
        border:1px solid #999!important;
      }
      &.ng-invalid.ng-dirty{
        border-color: #FA787E;
      }
    }
    button{
      margin-top:20px;
    }
  }
}
.pickers{
  float:left;
  width: 300px;
  input{
    padding:0 10px;
    height: 30px;
    border:none;
    margin-bottom:10px;
  }
}
.run{
  cursor:pointer;
  .avg{
    height: 0;
    overflow:hidden;
    transition:height .3s;
    &.active{
      height:40px;
    }
    a{
      margin-left:10px;
    }
  }
}
