<img class="intro" src="img/bigImg.png" alt="" />
<h3>Easy Run is an awesome platform to tack your runs!</h3>
<p><a class="reg btn btn-lg btn-success" ui-sref="main.register()" role="button">Sign up today</a></p>
