<div class="container">
  <div class="header clearfix">
    <h2 class="pull-left text-muted">EasyRun</h2>
    <nav>
      <ul class="nav nav-pills pull-right">
        <li ng-if="!main.user.email"><a class="login" ui-sref="main.login()">Login</a></li>
        <li ng-if="main.user.email"><a class="goToRuns" ui-sref="main.runs()">Your runs</a></li>
        <li ng-if="main.user.email"><a class="goToReport" ui-sref="main.report()">Weekly report</a></li>
        <li ng-if="main.user.email"><a class="logout" ng-click="main.logout()">Logout</a></li>
      </ul>
    </nav>
  </div>

  <div class="jumbotron clearfix" ui-view="content">
  </div>

  <footer class="footer">
    <p>&copy; EasyRun 2015</p>
  </footer>

</div>
