<div class="popup">
  <div class="bck" ng-click="addrun.closeModal()"></div>
  <div class="wind">
    <div class="close" ng-click="addrun.closeModal()">X</div>
    <form name="addnew" novalidate ng-submit="addnew.$valid && addrun.saveRun()">
      <div class="form-group add">
        <label for="date">Run date</label>
        <datepicker date-format="dd.MM.yyyy">
          <input required required type="text" class="form-control" id="date" placeholder="Date" ng-model="addrun.entry.date">
        </datepicker>
      </div>
      <div class="form-group">
        <label for="distance">Distance in meters</label>
        <input required type="number" class="form-control" id="distance" name="distance" placeholder="Distance" ng-model="addrun.entry.distance">
      </div>
      <div class="form-group">
        <label for="time">Time in seconds</label>
        <input required type="number" class="form-control" id="time" name="time" placeholder="Time in seconds" ng-model="addrun.entry.time">
      </div>
      <button ng-if="!addrun.$scope.editRun" type="submit" class="save btn btn-success btn-lg">Submit</button>
      <button ng-if="addrun.$scope.editRun" type="submit" class="save btn btn-success btn-lg">Save</button>
    </form>
  </div>
</div>
