<h2>Weekly report</h2>
<div class="list-group pull-left">
  <div class="row">
    <div class="col-sm-4">
      <p><b>Week</b></p>
    </div>
    <div class="col-sm-4">
      <p><b>Avg. speed</b></p>
    </div>
    <div class="col-sm-4">
      <p><b>Avg. distance</b></p>
    </div>
  </div>
  <h3 ng-if="!report.report">Please add a run.</h3>
  <div  class="run list-group-item report" ng-repeat="run in report.report">
    <div class="row">
      <div class="col-sm-4">
        <p>{{ run.start }} - {{ run.end }}</p>
      </div>
      <div class="col-sm-4">
        <p class="list-group-item-text">{{ run.speed }} km/h</p>
      </div>
      <div class="col-sm-4">
        <p class="list-group-item-text">{{ run.distance }} m </p>
      </div>
    </div>
  </div>
</div>
