<div class="row">
  <div class="col-xs-12">
    <a class="add btn-lg btn-success pull-right" ng-click="runs.toggleModal()">Add new</a>
    <div ng-if="runs.runs.length" class="pickers">
      <datepicker date-format="dd.MM.yyyy">
        <input class="form-control" type="text" ng-model="runs.dateFrom" placeholder="From">
      </datepicker>
      <datepicker date-format="dd.MM.yyyy">
        <input class="form-control" type="text" ng-model="runs.dateTo" placeholder="To">
      </datepicker>
    </div>
  </div>
</div>
<div class="list-group pull-left">
  <div class="row">
    <div class="col-sm-4">
      <p><b>Distance(m)</b></p>
    </div>
    <div class="col-sm-4">
      <p><b>Time</b></p>
    </div>
    <div class="col-sm-4">
      <p><b>Date</b></p>
    </div>
  </div>
  <h3 ng-if="!runs.runs.length">Please add a run.</h3>
  <div  class="run list-group-item" ng-repeat="run in runs.runs | datefilter:runs.dateFrom:runs.dateTo">
    <div class="click row" ng-click="runs.showDetail(run)">
      <div class="col-sm-4">
        <p class="distance">{{ run.distance }} m</p>
      </div>
      <div class="col-sm-4">
        <p class="list-group-item-text">{{ run.momTime }}</p>
      </div>
      <div class="col-sm-4">
        <p class="list-group-item-text">{{ run.rundate | date:'dd.MM.yyyy' }}</p>
      </div>
    </div>
    <div class="row avg" ng-class="{active: run.active}">
      <div class="col-xs-12 clearfix">
        <p class="pull-left">Average speed <b>{{ run.average }} km/h</b></p>
        <a class="btn btn-danger pull-right delete" ng-click="runs.deleteRun(run, $index)">Delete</a>
        <a class="btn btn-warning pull-right edit" ng-click="runs.editRun(run)">Edit</a>
      </div>
    </div>
  </div>
</div>
<div toggle-modal="runs.toggleModal()" add-run="runs.addRun(run)" edit-run="runs.runToEdit" update-run="runs.updateRun(id, run)" ng-if="runs.showAddNew"></div>
