<h3>Login and keep track of your runs</h3>
<form name="log" class="logForm" ng-submit="log.$valid && login.userLogin()" novalidate>
  <div class="form-group">
    <label for="email">Email address</label>
    <input  ng-model="login.user.email"
            type="email"
            class="form-control"
            id="email"
            placeholder="Enter email"
            required>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input  ng-model="login.user.password"
            type="password"
            class="form-control"
            id="password"
            placeholder="Password"
            required>
  </div>
  <p ng-if="login.formError" class="errMsg text-danger">
    Incorect username or password
  </p>
  <button id="subitReg" type="submit" class="btn btn-success">Login</button>
</form>
