<h3>Register and run with EasyRun</h3>
<form name="reg" class="regForm" ng-submit="reg.$valid && register.register()" novalidate>
  <div class="form-group">
    <label for="email">Email address</label>
    <input  ng-model="register.user.email"
            type="email"
            class="form-control"
            id="email"
            placeholder="Enter email"
            required>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input  ng-model="register.user.password"
            type="password"
            class="form-control"
            id="password"
            placeholder="Password"
            required>
  </div>
  <p ng-if="register.userExists" class="errMsg text-danger">User already exists</p>
  <button id="subitReg" type="submit" class="btn btn-success">Register</button>
</form>
